<div class="m-8">
  <form (ngSubmit)="onSubmit()">
    <div class="flex gap-4 w-full">
      <div class="w-full">
        <label for="username">User Name: </label>
        <input
          type="text"
          placeholder="Ex. Will Byers"
          class="rounded-lg p-2 my-2 border border-gray-300 w-full"
         [(ngModel)]="username"
         name="username"
        />
      </div>
      <div class="w-full">
        <label for="username">Workout Type: </label>
        <input
          type="text"
          placeholder="Ex. Cycling"
          class="rounded-lg p-2 my-2 border border-gray-300 w-full"
          [(ngModel)] = "workoutType"
          name="workoutType"
        />
      </div>
      <div class="w-full">
        <label for="username">Workout Minutes: </label>
        <input
          type="text"
          placeholder="Ex. 30"
          class="rounded-lg p-2 my-2 border border-gray-300 w-full"
          [(ngModel)] = "workoutMinutes"
          name="workoutMinutes"
        />
      </div>
    </div>
    <div class="flex justify-center items-center my-4">

        <button type="submit"  class="border-2 border-blue-800 px-6 py-3 rounded-full hover:bg-blue-800 text-blue-600 hover:text-white  font-semibold transition-all duration-500 hover:scale-110 ease-in-out"> Submit</button>
    </div>
  </form>
</div>
